<!DOCTYPE html>
<html lang="fr">

  <head>
    
    <meta charset="utf-8">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'materialize/css/materialize.min.css' %}"  media="screen,projection"/>
     <link type="text/css" rel="stylesheet" href="{% static 'base/base.css' %}"  />
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>
      {% block title %}
      {{ website_name_str }}
      {% endblock %}
    </title>
    {% block head_script %}{% endblock %}
  </head>
  <body>
    <!-- Header -->
    <header>
      <div class="navbar-fixed">
      <nav>
	<div class="nav-wrapper" id ="header">
	 
	  <div>
	    <div>
	      <ul id="main_nav" class="left hide-on-med-and-down">
		<li>
		  <a class="waves-effect waves-light btn blue accent-4" href="{% url 'home' %}">{{website_name_str }}</a>
		</li>
	      </ul>
	      <ul id="main_nav" class="right hide-on-med-and-down">	
		<li>
		  <a class="waves-effect waves-light btn blue accent-4" href="{% url 'forum_home' %}">Forum</a>
		  {% if request.user.is_authenticated %}
		  <a class="waves-effect waves-light btn blue accent-2" href="{% url 'profil_show' %}">Profil</a>
		  <a class="waves-effect waves-light btn blue accent-2" href="{% url 'profil_logout' %}">Logout</a>
		  {% else %}
		  <a class="waves-effect waves-light btn blue accent-2" href="{% url 'profil_login' %}">Connection</a>
		  <a class="waves-effect waves-light btn blue accent-2" href="{% url 'profil_subscription' %}">InScription</a>
		  {% endif %}
		</li>
	      </ul>
	    </div>
	  </div>
      </nav>
      </div>
    </header>
    </div>
    <div id ="body">
      <br/><br/><br/>
      {% block head %}
      {% endblock %}
      
      {% block flash %}
      {% endblock %}
      <div class="container"><div class="row">
      {% block body %}
      {% endblock %}
      </div></div>
    </div>
    

     

     
     <footer class="page-footer blue darken-3">
       <div class="container">
	 <div class="row">
	   
	   <div class="col l6 s12">
	     <h5 class="white-text">Troubleshouting</h5>
	     <a class="grey-text text-lighten-3" href="{% url 'troubleshouting' %}"><img height="100" class="brand-logo" src="{% static 'base/troubleshouting_logo.png' %}" alt=""></a>
	   </div>

	   <div class="col l4 offset-l2 s12">  
	     <h5 class="white-text">Liens</h5>
	     <ul>
	       <li><a class="grey-text text-lighten-3" href="#"> <img height="42" width="42" class="brand-logo" src="{% static 'base/facebook_logo.png' %}" alt="" /></a></li>
	       <li><a class="grey-text text-lighten-3" href="#!"><img height="42" width="42" class="brand-logo" src="{% static 'base/twitter_logo.png' %}" alt=""></a></li>
	     </ul>
	   </div>
	 </div>
       </div>
       <div class="footer-copyright" id="footer_copyright">
	 <div class="container">
	   © 2016 Copyright {{ website_name }}
	 </div>
       </div>
     </footer>
     <script>
       var options = [
       {selector: '.home_summary_class', offset: 200, callback: 'globalFunction()' },
       {selector: '.other-class', offset: 200, callback: 'globalFunction()' },
       ];
         Materialize.scrollFire(options);
     </script>
     <script>
       
     </script>
     
     <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
     <script type="text/javascript" src="../../../front_end/static/js/materialize.min.js"></script>
     {% include 'material/includes/material_css.html' %}
     <script src= "{% static 'material/js/jquery-2.2.0.js' %}"></script>
     {% include 'material/includes/material_js.html' %}
  </body>
</html>
