{% extends "base/base.html" %}

{% block title %}
DomiSoin
{% endblock %}

{% block header %}
{% endblock %}


{% block body %}

<h1>Change Email !</h1>
<form action="{% url 'profil.views_change_profil_infos.change_email' %}" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Submit" />
  </form>

{% endblock %}
