{% extends "base/base.html" %}

{% block title %}
DomiSoin
{% endblock %}

{% block header %}
{% endblock %}


{% block body %}
<ul class="sign-up-in">
  <li><a href="{% url 'profil.views_profil.profil_login' %}">Connexion</a></li>
  <li>|</li>
  <li><a href="{% url 'profil.views_profil.profil_subscription' %}">Inscription</a></li>
</ul>

<h1>Change Password</h1>
<form action="{% url 'profil.views_change_profil_infos.change_password' %}" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Submit" />
  </form>

{% endblock %}
