{% extends "base/base.html" %}

{% block title %}
DomiSoin User Connection
{% endblock %}

{% block header %}
{% endblock %}


{% block body %}
<h1>Connection</h1>
<form action="{% url 'profil_login' %}" method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Submit" />
</form>

{% endblock %}
