{% extends "base/base.html" %}

{% block head %}
<h1>Profil Detail</h1>
{% endblock %}

{% block body %}

<ul>
  <li>username :{{ profil.pseudo }}</li>
  <li>email :{{ profil.email }}</li>
  <li><a href="{% url 'change_email' %}">change email</a></li>
  <li><a href="{% url 'change_password' %}">change password</a></li>
  <li><a href="{% url 'change_photo' %}">change photo</a></li>
  <li><a href="{% url 'profil_logout' %}">logout</a></li>

</ul>
{% endblock %}

{% block flash %}
<ul>
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>

{% endblock %}
