{% extends "base/base.html" %}

{% block body %}
<h1>Felicitations !</h1>

<p>vous venez de rejoindre la communauté DomiSoin !</p>
<p>nous vous inviter a regarder votre boite mail afin de confirmer votre compte</p>
{% endblock %}
