{% extends "base/base.html" %}

{% block head_script %}
<script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
<script>tinymce.init({ selector:'textarea' });</script>
{% endblock %}

{% block body %}


<h1>Add Post</h1>

<ul>
  {% for post in post_list %}
  <div class="row">
    <li>
      <div class="divider"></div>

      <div class="col s2">
	<a href="{% url 'forum_profil_show' profil_id=post.user.id %}">{{ post.user.pseudo }}</a>
      </div>

      <div class="col s6 offser-s2">{{ post.data|safe }}</div>


    </li>
  </div>
  {% endfor %}
</ul>


<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Submit" />
</form>

{% endblock %}
