{% extends "base/base.html" %}

{% block body %}
<h1>Article  List</h1>

<ul>
  {% for current_article in list_article %}
  <li>
    <a href="{% url 'forum_article_show' article_id=current_article.id %}">{{current_article.name}}</a>
  </li>
  {% endfor %}
</ul>

<a href="{% url 'forum_add_article' %}">Add Article</a>

{% endblock %}
