{% extends "base/base.html" %}
{% block body %}
<div class="section">
<div class="col s6">
  <h1>Article {{ article.name }}</h1>
</div>
<div class="col s6 offset-s6">
  <h5>Made By
   <a href="{% url 'forum_profil_show' profil_id=article.user.id %}">{{ article.user.pseudo }}</a>
</h5>
</div>
</div>
<div class="section">
  <div class="col s6 offset-s3">
    
  <ul>
    {% for post in post_list %}
    <div class="row">
  <li>
    <div class="divider"></div>
    
    <div class="col s2">
      <a href="{% url 'forum_profil_show' profil_id=post.user.id %}">{{ post.user.pseudo }}</a>
     </div>
    
    <div class="col s6 offser-s2">{{ post.data|safe }}</div>

    
  </li>
  </div>
  {% endfor %}
</ul>
</div>
</div>
<div class="section">
<div class="col s6 offset-s2">
  <div class="divider"></div>
  <a href="{% url 'forum_add_post' article_id=article.id %}">Repondre</a>
</div>
</div>
{% endblock %}
