{% extends "base/base.html" %}

{% block body %}
<h1>Forum Home</h1>

<ul>
  <li><a href="{% url 'forum_profil_list' %}">Profil list</a></li>
  <li><a href="{% url 'forum_article_list' %}">Article list</a></li>
</ul>
{% endblock %}
