{% extends "base/base.html" %}
{% block body %}
<h1>Profil Details</h1>

<ul>
  <li>{{current_profil.pseudo}}</li>
  <li>{{current_profil.email}}</li>
  {% if current_profil.is_confirmed == True %}
  <li>profil confirmed !</li>
  {% else %}
  <li>profil not confirmed !</li>
  <li>
    <a href="{% url 'forum_change_profil_group' profil_id=current_profil.id %}">Change {{current_profil.pseudo}} group</a>
  </li>
  {% endif %}
  <li><ul>Liste des Articles :
      {% for article in articles %}
      <li> <a href="{% url 'forum_article_show' article_id=article.id %}">{{ article.name }}</a></li>
{% endfor %}
</ul></li>

</ul>
{% endblock %}
