{% extends "base/base.html" %}

{% block body %}
<h1>Profil List</h1>

<ul>
  {% for current_profil in profil_array %}
  <li>
    <a href="{% url 'forum_profil_show' profil_id=current_profil.id %}">{{current_profil.pseudo}}</a>
  </li>
  {% endfor %}
</ul>
{% endblock %}
