{% extends "base/base.html" %}

{% block title %}
Newsletter - DomiSoin
{% endblock %}

{% block body %}
</ul><h1>Newsletter</h1>
<div>
  <p>Un email vous a été envoyé afin de confirmé la création de votre compte.</p>
  <p>Pensez à vérifiez vos spams.</p>
</div>
{% endblock %}
